<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yugi.model.sys.mapper.SysConfigMapper">
    <resultMap id="queryByIdMap" type="com.example.yugi.model.sys.entity.vo.SysConfigVo" autoMapping="true">
        <result property="configId" column="config_id" jdbcType="INTEGER"/>
        <association property="userConfig" javaType="com.example.yugi.model.sys.entity.vo.UserConfig" autoMapping="true">
        </association>
    </resultMap>

    <!-- 主键查询 -->
    <select id="queryById" resultMap="queryByIdMap">
        select
          config_id, config_name, config_key, config_value, config_type
        from sys_config
        where config_id = #{configId}
    </select>

    <select id="list" resultType="com.example.yugi.model.sys.entity.domain.SysConfig">
        select
            config_id, config_name, config_key, config_value, config_type
        from sys_config
    </select>
</mapper>

